#firsth1tag{
   
    width:64px ;
    border: 4px solid black;
    padding: 10px 62px 10px 15px;


    /*padding - top right bottom left*/
     /*padding-right: 40px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;*/


    /*margin: 30px 0px 0px 100px;*/
    /*margin - top right bottom left*/
    margin-left: 100px;
    margin-top: 30px;   
    
    
}

#secondh1tag{
    width: 64px;
    color: red;
    border: 4px solid red;
    padding: 10px 50px 5px 25px ;
    margin-left:248px ;
    margin-top: 10px;
    border-radius: 10px;
}
#thirdh1tag{
    width: 28px;
    color: green;
    border: 4px green solid;
    margin-left: 390px;
    padding: 12px 120px 12px 30px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 10px;
}