body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  display: inline-flex;
  gap: 12px;
}

.box {
  display: inline-flex;
  width: 70px;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: white;
}


.box1 {
  background: #e74c3c;
  border: 4px solid black;
}

.box2 {
  background: #3498db;
  border: 4px dashed black;
}

.box3 {
  background: #2ecc71;
  border: 4px dotted black;
}

.box4 {
  background: #f1c40f;
  border: 4px double black;
  color: black;
}

.box5 {
  background: #9b59b6;
  border: 4px groove black;
}

.box6 {
  background: #e67e22;
  border: 4px ridge black;
}

.box7 {
  background: #1abc9c;
  border: 4px inset black;
}
